body {
	background-color: rgb(226, 249, 145) !important;
}

.content {
	margin: 5px 100px 5px 100px;
	width: inherit;
}

img {
	position: relative;
	width: 45%;
	border: 3px solid lightgrey !important;
	border-radius: 100px;
	background-color: #ffffff;
}

.footer {
	background-color: gray !important;
}


/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 768px){ .hide-on-mobile { display: none; }}